footer.footer__block
  .menu
    nav.menu__list
      a(href="#home").menu__item home
      a(href="#about").menu__item about us
      a(href="#contact").menu__item contact
      a(href="#careers").menu__item careers
  .pagination
    .point
    .point
    .point
  address.address__block
    | 120 Theresa Ave, American Canyon, CA 94503
    br
    | 707.561.0134 
    br
    a.email(href="mailto:familyresources@mbisinc.com")
      | familyresources@mbisinc.com
  .copyright
    | Copyright Ⓒ 2017 McGrews Behavior Services All Rights Reserved