doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width")
    meta(name="author", content=" N.A. Zhydejkina")
    meta(name="Description",content="McGrew Behavior Services: Support For People Of All Walks of Life")
    title McGrew Behavior Services
    link(rel="apple-touch-icon", sizes="76x76", href="img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest")
    link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
  body
    div.test__img
    main.home-page
      include common/header.pug
      include home/block_1.pug
      include home/block_2.pug
      include home/block_3.pug
      include home/block_4.pug
      include home/block_5.pug
      include home/block_6.pug
      include common/footer.pug