$fontLato: "Lato", sans-serif;

$white: #ffffff;
$black: #000000;
$header-gray: #454546;
$blue: #00b5d2;
$mustard: #e1aa6e;
$mustard-dark: #ba8e5b;
$block_4-gray: #444444;
$block_5-blue: #1b97c5;
$block_5-blue-2: #0067ac;
$block_6-blue: #367ab7;
$block_6-blue-2: #008ea5;
$footer-gray: #cccccc;
$footer-gray-2: #aaaaaa;
$footer-gray-3: #999999;