section.block_4
  a(name="contact")
  .block_4__headline-wrapper
    h1.block_4__headline McGrew Behavior Services Helps...
    p.block_4__text
      | Families, organizations and health care providers in Northern 
      | California. Our knowledge and experience provide the specialized 
      | support people need when overcoming behavioral challenges. 
  button.block_4__btn(type="button") 
    span.block_4__btn-text CONTACT US